/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #76C676;
  --ifm-color-primary-dark: #67B367;
  --ifm-color-primary-darker: #589F58;
  --ifm-color-primary-darkest: #498C49;
  --ifm-color-primary-light: #85D985;
  --ifm-color-primary-lighter: #94E694;
  --ifm-color-primary-lightest: #A3F3A3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #76C676;
  --ifm-color-primary-dark: #67B367;
  --ifm-color-primary-darker: #589F58;
  --ifm-color-primary-darkest: #498C49;
  --ifm-color-primary-light: #85D985;
  --ifm-color-primary-lighter: #94E694;
  --ifm-color-primary-lightest: #A3F3A3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
